#navbar {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(62, 10, 10);
}

#top-menu a{
    padding:8px;
    margin: 0;
}