/* base style + mobile */
body {
    background-color: antiquewhite;
}



h1{
    margin: 12px 0;  
}


h3{
    margin-top: 0;
    margin-bottom: 4px;
}

p {
    margin: 1rem;
    text-indent: 1rem;
}

a {
    text-decoration: none;
    color: #3B82F6
}

a:hover, a:focus {
    color: #1D4ED8
}

#navbar {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(62, 10, 10);
}

#top-menu a{
    padding:8px;
    margin: 0;
}

#banner {  
    object-fit: cover;
    height: 150px;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    font-size: 1.25rem;
}

#team {
    width: 100%;
}

#team-image {
    border-radius: 5px;
    width: 100%;    
}

#jobs {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

#jobs-list {
    display: block;
}

.job {
    border: 1px solid #dddddd;
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}

.job-title {
    font-size: 1.25;
    font-weight: 500;
    color: #222222;
}

.job-detail {
    margin-top: 4px;
    color: #555555;
}

#jobs-table {
    display: none;
}

#application {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.form-group label{
    font-weight: 600;
}

.form-group input, select, textarea {
    width: 90%;
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.apply {
    float: right;
}

.form-group {
    margin: 16px 0;
}

.form-group textarea {
    font-family:'Roboto', sans-serif;
}

.form-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"] {
    background-color: #3B82F6;
    color:white;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
}

#footer {
    background-color: #fafafa;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

#footer-links li {
    margin: 8px 16px;
}

.copyright {
    font-size: 0.875rem;
    color: #71717A;
}

@media screen and (min-width: 576px) {
    html {
        font-size: 16px;
    }
    #navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    #banner {
        height: 200px;
    }
    h1{
        margin: 16px 0; 
    }

    .form-group input, select {
        width:auto;
    }

    .form-group textarea {
        width: 80%;
    }

    #footer-links li {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    #banner {
        height: 250px;
    }
    h1 {
        margin: 20px 0;
    }
    #about {
        max-width: 800px;
        flex-direction: row;       
    }
    #description {
        width: 50%;
        padding-right: 8px;
        
    }
    #team {
        width: 50%;
    }
    #jobs {
        min-width: 800px;
    }

    #jobs-list {
        display: none;
    }
    #jobs-table {
        display: table;
        width: 100%;
        border: 1px solid gray;
        border-collapse: collapse;     
    }
    #jobs-table tr:nth-child(odd) {
        background-color: #EFF6FF;
    }
    .jobs-header-row th {
        border: 1px solid gray;
        padding: 8px;
        background-color: #DBEAFE;
        text-align: centre;
        color: #222222
    }
    
    .jobs-data-row td{
        padding: 8px;
        border: 1px solid gray;
    }

    #application {
        max-width: 800px;
    }
       
}

@media screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }

    #about {
        max-width: 900px;     
    }
}

@media screen and (min-width: 1200px) {
    #banner {
        height: 300px;
    }
    #about {
        max-width: 1000px;  
    }
}
/* 


#logo {
    float: left;
    height:30px;
    width:30px;
}












#jobs-table {
    
}













 */