<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Keegan Churchill's Website" />
  <meta
    name="author"
    content="Keegan Churchill, styled by bootstrap-5, served with expressJS"
  />
  <!-- <meta name="generator" content="Hugo 0.122.0"> -->
  <meta name="docsearch:language" content="en" />
  <meta name="docsearch:version" content="0.1" />
  <title>Keegan Churchill</title>
  <!-- <link rel="canonical" href="https://getbootstrap.com/"> -->
  <!-- <link rel="preconnect" href="https://AK7KMZKZHQ-dsn.algolia.net" crossorigin> -->
  <!-- source for dark mode, light mode, auto toggle -->
  <script src="/scripts/color-modes.js"></script>
  <!-- Bootstrap 5.3 cdn -->
  <link href="/styles/custom_bootstrap.css" rel="stylesheet" />
  <link href="/styles/base.css" rel="stylesheet" />

  <!-- Favicons -->
  <link
    rel="icon"
    type="image/png"
    href="/images/favicon-96x96.png"
    sizes="96x96"
  />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/apple-touch-icon.png"
  />
  <meta name="apple-mobile-web-app-title" content="KC Website" />
  <link rel="manifest" href="/images/site.webmanifest" />
  <meta name="theme-color" content="#712cf9" />
  <!-- <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@getbootstrap">
        <meta name="twitter:creator" content="@getbootstrap">
        <meta name="twitter:title" content="Bootstrap">
        <meta name="twitter:description" content="Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.">
        <meta name="twitter:image" content="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-social.png"> -->
  <!-- <meta property="og:url" content="https://getbootstrap.com/">
        <meta property="og:title" content="Bootstrap">
        <meta property="og:description" content="Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-social.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="2000">
        <meta property="og:image:height" content="1000"> -->
</head>
