<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  {{> head}}
  <body>
    <!-- <div class="skippy visually-hidden-focusable overflow-hidden">
            <div class="container-xl">
                <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
            </div>
        </div> -->

    {{> navbar}}
    <main>
      <div class="container px-4 mt-5">
        <h2 class="text-center mb-4">CRUDdy Jobs</h2>
        <div class="d-md-none">
          {{#jobs}}
          <div class="card mb-3">

            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">
                <a href="/jobs/{{ id }}">{{ title }}</a>
                <span class="justify-content-end">
                  <button type="button" class="btn btn-primary">
                    <svg class="navbar-nav-svg bi">
                      <use href="#lg-X"></use>
                    </svg>
                  </button>
                </span>
              </h5>
              <h6 class="card-subtitle my-1 text-body-secondary">
                {{ location }}
                •
                {{ salary }}
              </h6>
              <small class="card-text text-body-secondary">
                posted
                {{ posted }}
              </small>
            </div>
          </div>
          {{/jobs}}
        </div>

        <div class="offset-lg-2 col-lg-8">
          <table class="d-none d-md-table table table-striped table-bordered">
            <tr class="table-primary text-center">
              <th>Job Title</th>
              <th>Location</th>
              <th>Salary</th>
              <th>Posted On</th>
            </tr>
            {{#jobs}}
            <tr>
              <td>
                <a href="/jobs/{{ id }}">{{ title }}</a>
              </td>
              <td>{{ location }}</td>
              <td>{{ salary }}</td>
              <td>{{ posted }}</td>
            </tr>
            {{/jobs}}
          </table>
        </div>
      </div>

      <div class="conatainer px-4 mt-5">
        <h1 class="text-center">Post Job</h1>
        <form class="offset-lg-2 col-lg-8" action="/jobs/create" method="POST">
          <div class="mb-3 col-sm-6">
            <label for="inputTitle" class="form-label">Job Title</label>
            <select id="inputTitle" class="form-select" name="title" required>
              <option value="">Select Position Title</option>
              <option value="Frontend Developer">Frontend Developer</option>
              <option value="Full Stack Developer">Full Stack Developer</option>
              <option value="Data Scientist">Data Scientist</option>
              <option value="Machine Learning Engineer">Machine Learning Engineer</option>
            </select>
          </div>

          <div class="mb-3 col-sm-6">
            <label for="inputSalary" class="form-label">Job Salary</label>
            <div class="input-group">
              <span class="input-group-text col-4">
                <select id="inputCurrency" class="form-select " name="salaryCurrency" required>
                <option value="">Currency</option>
                <option value="CAD">CAD</option>
                <option value="USD">USD</option>
                <option value="KRW">KRW</option>
                <option value="JPY">JPY</option>
              </select>
            </span>
            <input id="inputSalary" name="salaryAmount" type="number" class="form-control" placeholder="0" step="5000" aria-label="Salary input with currency select" required>
            </div>
          </div>
          <div class="mb-3 col-sm-6 input-group">
            <label for="inputCity" class="form-label">Job Location</label>
            <div class="input-group">
                <select id="inputCity" class="form-select " name="locationCity" required>
                <option value="">City</option>
                <option value="St. John's">St. John's</option>
                <option value="San Francisco">San Francisco</option>
                <option value="Seoul">Seoul</option>
                <option value="Tokyo">Tokyo</option>
                <option value="Remote">Remote</option>
              </select>
              <span class="input-group-text">,</span>
              <select id="inputCountry" class="form-select " name="locationCountry" required>
                <option value="">Country</option>
                <option value="Canada">Canada</option>
                <option value="U.S.A.">U.S.A</option>
                <option value="Korea">Korea</option>
                <option value="Japan">Japan</option>
                <option value="Remote">Remote</option>
              </select>
            </div>
          </div>
          <div class="mb-3 col-sm-6">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </main>
    {{> footer}}
    <!-- bootstrap js cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
