<nav
  class="navbar sticky-top navbar-expand-md bg-body-tertiary bg-gradient"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Keegan Churchill</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link py-2 px-0 px-md-2"
            href="https://github.com/zink38"
            target="_blank"
            rel="noopener"
          >
            <svg class="bi me-2 opacity-50" role="img">
              <title>GitHub</title>
              <use href="/symbols.svg#github"></use>
            </svg>
            <small class="d-md-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link py-2 px-0 px-md-2"
            href="https://www.youtube.com/@keeganchurchill9457"
            target="_blank"
            rel="noopener"
          >
            <svg class="bi me-2 opacity-50" role="img">
              <title>YouTube</title>
              <use href="/symbols.svg#youtube"></use>
            </svg>
            <small class="d-md-none ms-2">YouTube</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link py-2 px-0 px-md-2"
            href="https://stackoverflow.com/users/8930822/keegan"
            target="_blank"
            rel="noopener"
          >
            <svg class="bi me-2 opacity-50" role="img">
              <title>Stack Overflow</title>
              <use href="/symbols.svg#stack-overflow"></use>
            </svg>
            <small class="d-md-none ms-2">Stack Overflow</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link py-2 px-0 px-md-2"
            href="https://www.facebook.com/keegan.churchill.3/"
            target="_blank"
            rel="noopener"
          >
            <svg class="bi me-2 opacity-50" role="img">
              <title>Facebook</title>
              <use href="/symbols.svg#facebook"></use>
            </svg>
            <small class="d-md-none ms-2">Facebook</small>
          </a>
        </li>

        <li class="nav-item py-2 py-md-1 col-12 col-md-auto">
          <div class="vr d-none d-md-flex h-100 mx-md-2 text-white"></div>
          <hr class="d-md-none my-2 text-white-50" />
        </li>
        <li class="nav-item dropdown">
          <button
            class="btn btn-link nav-link py-2 px-0 px-md-2 dropdown-toggle d-flex align-items-center"
            id="kc-themes"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static"
            aria-label="Toggle theme (auto)"
          >
            <svg class="bi my-1 theme-icon-active">
              <use href="/symbols.svg#circle-half"></use>
            </svg>
            <span class="d-md-none ms-2" id="kc-themes-text">Toggle theme</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="kc-themes-text"
          >
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="light"
                aria-pressed="false"
              >
                <svg class="bi me-2 opacity-50">
                  <use href="/symbols.svg#sun-fill"></use>
                </svg>
                Light

                <svg class="bi ms-auto d-none">
                  <use href="/symbols.svg#check2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark"
                aria-pressed="false"
              >
                <svg class="bi me-2 opacity-50">
                  <use href="/symbols.svg#moon-stars-fill"></use>
                </svg>
                Dark

                <svg class="bi ms-auto d-none">
                  <use href="/symbols.svg#check2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center active"
                data-bs-theme-value="auto"
                aria-pressed="true"
              >
                <svg class="bi me-2 opacity-50">
                  <use href="/symbols.svg#circle-half"></use>
                </svg>
                Auto

                <svg class="bi ms-auto d-none">
                  <use href="/symbols.svg#check2"></use>
                </svg>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
