:root {



  --kc-primary: #8b0000;
  --kc-primary-rgb: 139, 0, 0;
  --kc-secondary: #2e2e2e;
  --kc-secondary-rgb: 46, 46, 46;
  --kc-tertiary: #fff5e1;
  --kc-quaternary: #00ced1;

  --kc-primary-light: #ff6347;
  --kc-primary-light-rgb: 255, 99, 71;
  --kc-secondary-light: #f5f5f5;
  --kc-secondary-light-rgb: 245, 245, 245;
  --kc-tertiary-light: #2e2e2e;
  --kc-quaternary-light: #20b2aa;
}
/*
  [data-bs-theme="light"] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
  }

  [data-bs-theme="dark"] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  }
}


:root,[data-bs-theme="light"] {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718,44.062154,249.437846;
  --bd-accent-rgb: 255,228,132;
  --bd-pink-rgb: 214,51,132;
  --bd-teal-rgb: 32,201,151;
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
  --bd-callout-link: 10,88,202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg)
}

[data-bs-theme="dark"] {
  --bd-violet: #9461fb;
  --bd-violet-bg: #712cf9;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(84,33,187, .5);
  --bd-callout-link: 110,168,254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22
}
.bi {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.125em;
  fill: currentcolor;
} */

/*!
 * Bootstrap Docs (https://getbootstrap.com/)
 * Copyright 2011-2024 The Bootstrap Authors
 * Licensed under the Creative Commons Attribution 3.0 Unported License.
 * For details, see https://creativecommons.org/licenses/by/3.0/.
 */
 

.bd-navbar {
  padding: .75rem 0;
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}

.bd-navbar::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-image: linear-gradient(rgba(var( --kc-secondary-rgb), 1), rgba(var( --kc-secondary-rgb), 0.95))
}

@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
      width:4.25rem
  }
}

.bd-navbar .navbar-toggler {
  padding: 0;
  margin-right: -.5rem;
  border: 0
}

.bd-navbar .navbar-toggler:first-child {
  margin-left: -.5rem
}

.bd-navbar .navbar-toggler .bi {
  width: 1.5rem;
  height: 1.5rem
}

.bd-navbar .navbar-toggler:focus {
  box-shadow: none
}

.bd-navbar .navbar-brand {
  color: #fff;
  transition: transform 0.2s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .bd-navbar .navbar-brand {
      transition: none
  }
}

.bd-navbar .navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1)
}

.bd-navbar .navbar-toggler,.bd-navbar .nav-link {
  padding-right: .25rem;
  padding-left: .25rem;
  color: rgba(255,255,255,0.85)
}

.bd-navbar .navbar-toggler:hover,.bd-navbar .navbar-toggler:focus,.bd-navbar .nav-link:hover,.bd-navbar .nav-link:focus {
  color: #fff
}

.bd-navbar .navbar-toggler.active,.bd-navbar .nav-link.active {
  font-weight: 600;
  color: #fff
}

.bd-navbar .navbar-nav-svg {
  display: inline-block;
  vertical-align: -.125rem
}

.bd-navbar .offcanvas-lg {
  background-color: var(--kc-secondary);
  border-left: 0
}

@media (max-width: 991.98px) {
  .bd-navbar .offcanvas-lg {
      box-shadow:var(--bs-box-shadow-lg)
  }
}

.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
  outline: 0
}

.bd-navbar .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: .25rem;
  --bs-dropdown-padding-y: .25rem;
  --bs-dropdown-link-hover-bg: rgba(var( --kc-secondary-rgb), .1);
  --bs-dropdown-link-active-bg: rgba(var( --kc-secondary-rgb), 1);
  --bs-dropdown-font-size: .875rem;
  font-size: .875rem;
  border-radius: .5rem;
  box-shadow: var(--bs-box-shadow)
}

.bd-navbar .dropdown-menu li+li {
  margin-top: .125rem
}

.bd-navbar .dropdown-menu .dropdown-item {
  border-radius: .25rem
}

.bd-navbar .dropdown-menu .dropdown-item:active .bi {
  color: inherit !important
}

.bd-navbar .dropdown-menu .active {
  font-weight: 600
}

.bd-navbar .dropdown-menu .active .bi {
  display: block !important
}

.bd-navbar .dropdown-menu-end {
  --bs-dropdown-min-width: 8rem
}

[data-bs-theme="dark"] .bd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15)
}



.bd-masthead {
  --bd-pink-rgb: 214,51,132;
  padding: 3rem 0;
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%)
}

.bd-masthead h1 {
  --bs-heading-color: var(--bs-emphasis-color);
  font-size: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
  .bd-masthead h1 {
      font-size:4rem
  }
}

.bd-masthead .lead {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bs-secondary-color)
}

.bd-masthead .bd-code-snippet {
  margin: 0;
  border-color: var(--bs-border-color-translucent);
  border-width: 1px;
  border-radius: .5rem
}

.bd-masthead .highlight {
  width: 100%;
  padding: .5rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(var(--bs-body-color-rgb), 0.075);
  border-radius: calc(.5rem - 1px)
}

@media (min-width: 992px) {
  .bd-masthead .highlight {
      padding-right:4rem
  }
}

.bd-masthead .highlight pre {
  padding: 0;
  margin: .625rem 0;
  overflow: hidden
}

.bd-masthead .btn-clipboard {
  position: absolute;
  top: -.625rem;
  right: 0;
  background-color: transparent
}

.bd-masthead #carbonads {
  margin-inline:auto}

@media (min-width: 768px) {
  .bd-masthead .lead {
      font-size:calc(1.275rem + .3vw)
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .bd-masthead .lead {
      font-size:1.5rem
  }
}

.masthead-followup h2,.masthead-followup h3,.masthead-followup h4 {
  --bs-heading-color: var(--bs-emphasis-color)
}

.masthead-followup .lead {
  font-size: 1rem
}

@media (min-width: 768px) {
  .masthead-followup .lead {
      font-size:1.25rem
  }
}

.masthead-followup-icon {
  padding: 1rem;
  color: rgba(var(--bg-rgb), 1);
  background-color: rgba(var(--bg-rgb), 0.1);
  background-blend-mode: multiple;
  border-radius: 1rem;
  mix-blend-mode: darken
}

.masthead-followup-icon svg {
  filter: drop-shadow(0 1px 1px var(--bs-body-bg))
}

.masthead-notice {
  background-color: var(--bd-accent);
  box-shadow: inset 0 -1px 1px rgba(var(--bs-body-color-rgb), 0.15),0 0.25rem 1.5rem rgba(var(--bs-body-bg-rgb), 0.75)
}

.animate-img>img {
  transition: transform 0.2s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
  .animate-img>img {
      transition: none
  }
}

.animate-img:hover>img {
  transform: scale(1.1)
}

[data-bs-theme="dark"] .masthead-followup-icon {
  mix-blend-mode: lighten
}


.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor
}


.bd-gutter {
  --bs-gutter-x: 3rem
}

