<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  {{> head}}

  <body>
    <header>
      {{> navbar}}
    </header>
    <!-- <div class="skippy visually-hidden-focusable overflow-hidden">
            <div class="container-xl">
                <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
            </div>
        </div> -->

    <div class="conatainer px-4 mt-5">
      <h1 class="text-center">Apply - {{ job.title }}</h1>
      <div class="text-center mb-5">
        {{ job.location }} • {{ job.salary }} • Posted on {{ job.posted }}
      </div>
      <form
        class="offset-lg-2 col-lg-8"
        action="/jobs/{{ job.id }}/apply"
        method="POST"
      >
        <div class="mb-3 col-sm-6">
          <label for="fullname" class="form-label"> Full Name</label>
          <input
            type="text"
            class="form-control"
            name="fullname"
            required
            placeholder="John Doe"
            id="fullname"
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="email" class="form-label"> Email Address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="john@doe.com"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3 col-sm-6">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="1234567890"
            name="phone"
            required
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="dob" class="form-label">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            name="dob"
            required
          />
        </div>
        <div class="mb-3 col-sm-6">
          <label for="formFileMultiple" class="form-label"
            >Upload Resume and/or Cover Letter</label
          >
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="File"
          />
        </div>
        <div class="mb-3">
          <label for="inputCoverletter">Cover Letter</label><br />
          <textarea
            id="inputCoverletter"
            class="form-control"
            name="coverletter"
            rows="5"
            placeholder="Explain what makes you suitable for the job.."
          ></textarea>
        </div>
        <div class="mb-3 col-sm-6 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="inputTerms"
            name="terms"
            required
          />
          <label for="inputTerms" class="form-check-label">
            I agree to the terms and conditions
          </label>
        </div>
        <div class="mb-3 col-sm-6">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
    {{> footer}}
    <!-- bootstrap js cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
